#form{
    width: 50%;
    padding: 24px;
    margin: 0 auto;
    border: solid 1px;
}
.input{
    padding: 12px 22px;
    width: 50%;
    border-radius: 5px;
    border: solid 1px;
}

button{
    padding: 8px 240px;
    border-radius: 5px;
    color: white;
    background-color: black;
} 

.icon{
   margin-left: 40%;
}
